<html>
<script src="../Statics/javascripts/jquery.min.js"></script>
<script src="../Statics/javascripts/cookies.js"></script>
<link rel="stylesheet" href="../Statics/stylesheets/register-login.css">
<link rel="stylesheet" href="../Statics/stylesheets/bootstrap.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>

    <title>Hexaks</title>
</head>
<body>
<div id="homeContainer" class="containerDiv">
    <div class="loginRegForm">

        <h2>Login to Hexaks </h2>
        <input type="text" placeholder="username" id="username"/>
        <input type="password" placeholder="username" id="password"/>
        <button id="logBtn">Login</button>
        <p class="messageBox">

        </p>
    </div>

    <div class="footer">
        <a href="/faq">FAQ</a>
        <a href="/tutorials">Tutorials</a>
        <a href="/about">About Us</a>
    </div>
</div>
</body>



<script>
    // Events.js
    $('.loginRegForm').on("click","#logBtn",function(){
        var input = {
            username : $("#username").val(),
            password: $("#password").val()
        };
        requsetHandler("/login", "POST", input, "loginHandler");
    });
    function requsetHandler(url, method, input, caller) {
        $.ajax({
            url: url || "/",
            method: method || "GET",
            data: input || {},
            before: function () {
            },
            success: function (res) {
                responseActionHandler(caller,res);
            },
            timeout: function () {
                window.alert("time out");// get from developer
            },
            fail: function () {
                window.alert("failed");
            },
            err: function () {
                window.alert("err");
            }
        });
    }
    // Response Actions Handler
    function responseActionHandler(caller, res) {
        switch (caller) {
            case "loginHandler" : {
                console.log(res);
                createCookie("X-ACCESS-TOKEN",res["token"],1);
                createCookie("KEY",res["key"],1);
                debugger;
                // write cookie
            }
                break;
        }
    }
</script>
</html>