<html>
<head>
    <script src="../Statics/javascripts/jquery.min.js"></script>
    <link rel="stylesheet" href="../Statics/stylesheets/style.css">
    <meta name="viewport" content="width=window-width,initial-scale=1">
    <link rel="stylesheet" href="../Statics/stylesheets/fine-uploader-gallery.css">
    <script src="../Statics/javascripts/cookies.js"></script>
    <script src="../Statics/javascripts/fine-uploader/all.fine-uploader/all.fine-uploader.core.js"></script>
    <script src="../Statics/javascripts/fine-uploader/all.fine-uploader/all.fine-uploader.js"></script>
    <title>Hexaks</title>
</head>

<body>
<div id="homeContainer" class="containerDiv">
    <div id="alertTop">
        <h3></h3>
    </div>
    <div class="homeSliders" id="homeSliders">

    </div>
    <div class="profileTop" id="profileTop">
        <div class="profileTopContainer">
            <div class="profPic">
                <img class="hexShape" src="../Statics/images/images/hexShape200g.png">
                <img src="../Statics/images/images/avatar.png" class="image"/>
            </div>
            <div class="userInfo">
                <span class="hostFullName">Mohammad Reza Ehsani</span>
                <a class="followersBtn">50 Followings</a>
                <a class="followingsBtn">120 Followers</a>
                <span class="hostLocation">Tehran</span>
                <p class="username" hidden>sabet</p>
            </div>
            <button id="follow">Follow</button>
            <button id="unfollow">Unfollow</button>
            <ul class="badges">
                <li class="eachBadge">
                    <img src="../Statics/images/images/premiumBadge.png"/>
                    <p hidden> badgeId</p>
                </li>
                <li class="eachBadge">
                    <img src="../Statics/images/images/logoA.png"/>
                    <p hidden> badgeId</p>
                </li>
                <li class="eachBadge">
                    <img src="../Statics/images/images/loader6.png"/>
                    <p hidden> badgeId</p>
                </li>
                <li class="allBadgesBtn">
                    +5
                </li>
            </ul>
        </div>
    </div>
    <div class="profileTopSmall" id="profileTopSmall">
    </div>
    <div class="topNav">
        <ul>
            <li class="selected">Latest</li>
            <li>Top</li>
            <li>Curated</li>
        </ul>
    </div>
    <div class="accountCard">
        <a href="/login" id="loginBtn">Login</a>
        <a href="/register">Register</a>
    </div>
    <div class="loginSmall">
        <form>
            <input placeholder="username or email" type="text">
            <input type="password" placeholder="password">
        <button id="loginSubmit">Login</button>
        </form>
    </div>
    <div class="timeNav">
        <h3>For Last</h3>
        <select>
            <option value="hour"> hour</option>
            <option value="day"> day</option>
            <option value="3 days">  3 days</option>
            <option value="week"> week</option>
            <option value="month"> month</option>
        </select>

        <button class="closeTimeNav"></button>
    </div>
    <div class="nav rightSide">
        <img id="logo" src="../Statics/images/images/LOGO.png">
        // parse dynamicly for clients - authenticated - and role based
        <ul>
            <li class="selected">Home</li>
            <li>Explore</li>
            <li>Subscriptions</li>
            <li>People</li>
        </ul>
        <a href="/settings">Settings</a>
        <a href="/about" id="about">About</a>
    </div>
    <!--<div class="footer">-->
    <!--<a href="/terms">Terms Of Service</a>-->
    <!--<a href="/faq">FAQ</a>-->
    <!--<a href="/contact">Contact</a>-->
    <!--</div>-->
    <div class="postsContainer" id="postsContainer">
        <div class="eachPost">
            <div class="header">
                <div class="profilePicture left">
                    <img src="../Statics/images/images/avatar.png">
                </div>
                <span class="username left">
						Ektik
					</span>
                <div class="curatorContainer right">
                    <img src="../Statics/images/images/curatew.png">
                </div>
            </div>
            <div class="imgContainer">
                <img src="../Statics/images/sliders/slider2/3.jpg"/>
            </div>
            <div class="footer">
                <div class="rate left">
                    <img class="left rateBtn" src="../Statics/images/icons/b_like_p.png">
                    <!-- SVG - Hex for Rate - 1 to 6 Dynamic Percentage fill the background of Hex -->
                    <span class="number left"> 5.2</span>
                </div>
                <span class="time right">
						1h
					</span>
            </div>
        </div>
        <div class="eachPost">
            <div class="header">
                <div class="profilePicture left">
                    <img src="../Statics/images/images/avatar.png">
                </div>
                <span class="username left">
						Ektik
					</span>
                <div class="curatorContainer right">
                    <img src="../Statics/images/images/curatew.png">
                </div>
            </div>
            <div class="imgContainer">
                <img src="../Statics/images/sliders/slider3/3.jpg"/>
            </div>
            <div class="footer">
                <div class="rate left">
                    <img class="left rateBtn" src="../Statics/images/icons/b_like_p.png">
                    <!-- SVG - Hex for Rate - 1 to 6 Dynamic Percentage fill the background of Hex -->
                    <span class="number left"> 5.2</span>
                </div>
                <span class="time right">
						1h
					</span>
            </div>
        </div>
        <div class="eachPost">
            <div class="header">
                <div class="profilePicture left">
                    <img src="../Statics/images/images/avatar.png">
                </div>
                <span class="username left">
						Ektik
					</span>
                <div class="curatorContainer right">
                    <img src="../Statics/images/images/curatew.png">
                </div>
            </div>
            <div class="imgContainer">
                <img src="../Statics/images/sliders/slider1/1.jpg"/>
            </div>
            <div class="footer">
                <div class="rate left">
                    <img class="left rateBtn" src="../Statics/images/icons/b_like_p.png">
                    <!-- SVG - Hex for Rate - 1 to 6 Dynamic Percentage fill the background of Hex -->
                    <span class="number left"> 5.2</span>
                </div>
                <span class="time right">
						1h
					</span>
            </div>
        </div>

        <div class="eachPost">
            <div class="header">
                <div class="profilePicture left">
                    <img src="../Statics/images/images/avatar.png">
                </div>
                <span class="username left">
						Ektik
					</span>
                <div class="curatorContainer right">
                    <img src="../Statics/images/images/curatew.png">
                </div>
            </div>
            <div class="imgContainer">
                <img src="../Statics/images/sliders/slider3/4.jpg"/>
            </div>
            <div class="footer">
                <div class="rate left">
                    <img class="left rateBtn" src="../Statics/images/icons/b_like_p.png">
                    <!-- SVG - Hex for Rate - 1 to 6 Dynamic Percentage fill the background of Hex -->
                    <span class="number left"> 5.2</span>
                </div>
                <span class="time right">
						1h
					</span>
            </div>
        </div>
    </div>
</div>

<div class="slideView" id="slideView">


</div>
<div class="settingsContainer" id="settings">

</div>

<div class="contactContainer" id="contact">

</div>

<div class="policyContainer" id="policy">

</div>

<div class="newPostContainer" id="newPost">
    <div class="newPostForm">
        <select name="category" id="category">
            <option value="Nature">Nature</option>
            <option value="Industrial">Industrial</option>
            <option value="Society">Society</option>
            <option value="Folan">Folan</option>
        </select>
        <div id="uploadArea" >
            <strong>Drag one or more files to this Drop Zone ...</strong>
            <input type="file" accept="image/*" class="browseSingle">
        </div>
        <textarea name="caption" id="caption"></textarea>
        <textarea name="hashtags" id="hashtags"></textarea>
        <button id="submitPost" > Post </button>
    </div>
</div>


<script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button">
            <div>Upload a file</div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
        <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
            <li>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <div class="qq-thumbnail-wrapper">
                    <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
                </div>
                <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
                <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                    <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                    Retry
                </button>

                <div class="qq-file-info">
                    <div class="qq-file-name">
                        <span class="qq-upload-file-selector qq-upload-file"></span>
                        <span class="qq-edit-filename-icon-selector qq-btn qq-edit-filename-icon" aria-label="Edit filename"></span>
                    </div>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                        <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                        <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                        <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                    </button>
                </div>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>


</body>



<script>
    // Global Variables.JS
    // import * as Jimp from "jimp";
    var Me = {};
    var pageNames = ["feed","profile","settings","home","slideView","newPost","policy"];
    var smallUploader={};
    var originalUploader = {};
    var mediumUploader = {};
    // initial by url parsing
    var currentPage = "";
    var historyPointer = -1;
    var historyList = [];
    // Events.Js
    $(document).ready(function(){
        if( readCookie("X-ACCESS-TOKEN") !==null) {
            getMe();
            setUploaders();
            urlParser(true);
        }
        else {

        }
    });
    // TOP NAV
    $("body").on("click",".topNav ul li",function(){
        $(this).parents("ul").children(".selected").removeClass("selected");
        $(this).addClass("selected");
        
    });
    $('body').on("click","#loginSubmit",function(){
        var input = {
            username : $(".loginSmall").children("input")[0].value,
            password: $(".loginSmall").children("input")[1].value
        };
        login(input);
    });
    $("body").on("click","#forwardBtn",function(){
        forward();
    });
    $("body").on("click","#backwardBtn",function(){
        backward();
    });
    $("body").on("click","#logo",function(){
        if (window.innerWidth < 1025) {
            if (this.className === "") {
                if ($(".rightSide")[0]) {
                    $(this).addClass("halfRight");
                    $(".rightSide").addClass("hide");
                    $(".accountCard").css("right","5px");
                }
                else if ($(".leftSide")[0]) {
                    $(this).addClass("halfLeft");
                    $(".leftSide").addClass("hide");
                    $(".accountCard").css("right","5px");
                }
            }
            else if (this.className === "halfLeft") {
                $(this).removeClass("halfLeft");
                $(".leftSide").removeClass("hide");
                $(".accountCard").css("right","100px");
            }
            else if (this.className === "halfRight") {
                $(this).removeClass("halfRight");
                $(".rightSide").removeClass("hide");
                $(".accountCard").css("right","100px");
            }
            else {
                //
            }
        }
    });
    $("body").on("click","#loginBtn",function(e){
        if (window.innerWidth > 768) {
            e.preventDefault();
            $(".loginSmall").slideDown(300);
        }
    });
    $("body").on("click","#logoutBtn",function(){
        logout();
    });
    $("body").on("click","#submitUpload",function(e){
        e.preventDefault();
    });
    $("body").on("drop","#uploadArea .qq-upload-drop-area-selector",function(event){
        applyEvent(event);
    });
    function requsetHandler(url, method, input, caller) {
        $.ajax({
            url: url || "/",
            method: method || "GET",
            data: input || {},
            before: function () {
            },
            success: function (res) {
                responseActionHandler(caller, res);
            },
            timeout: function () {
                window.alert("time out");// get from developer
            },
            fail: function () {
                window.alert("failed");
            },
            err: function () {
                window.alert("err");
            }
        });
    }
    // 3.Handlers
    // Request handlers
    function logout() {
        eraseCookie("KEY");
        eraseCookie("X-ACCESS-TOKEN");
    }
    function login(input) {
        requsetHandler("/login", "POST", input, "loginHandler");
    }
    function getMe(){
        requsetHandler("/api/v1/users/getMe","GET",{},"getMe");
    }
    function getPosts(){
    }
    // Actions.js
    function responseActionHandler(caller, res) {
        switch (caller) {
            case "loginHandler" : {
                loginResponse(res);
            }
                break;
            case "getMe" : {
                getMeResponse(res);
            }
                break;
        }
    }
    function urlParser(writeState){
        var pageType ="";
        if(window.location.pathname.split("/")[1]){
            pageType = window.location.pathname.split("/")[1].toLowerCase();
        }
        if(pageType === "home" || pageType === "" || pageType === "explore" || pageType === "followings" || pageType === "followers" ||
            pageType === "slideView"|| pageType === "curated" || pageType === "latest" || pageType === "top") {

                if(pageType ==="settings" || pageType==="slideView" || pageType ==="contact" || pageType==="newPost" || pageType==="policy")
                    changePage(pageType,pageType, writeState);// Other Pages
                else
                    changePage("feed",pageType,writeState);// Feed

        }
        else{
            changePage("profile",pageType,writeState);// Profile -->
        }
    }
    // action functions
    function setUploaders() {
        originalUploader = new qq.FineUploader({
            element: document.getElementById("uploadArea"),
            request: {
                endpoint: '/api/v1/upload',
                customHeaders: {
                    size:"Original"
                }
            },
            chunking: {
                enabled: true,
                concurrent: {
                    enabled: false
                },
                success:{
                }
            },
            resume: {
                enabled: true
            },
            retry: {
                enableAuto: true,
                showButton: true
            },
            allowedExtensions: ['gif','jpg','jpeg','png'],
            onSubmit: function(id, fileName){
            },
            onComplete: function(id, fileName, responseJSON){ // Customize the output sent to responseJSON in demo.php
                resetParams();
                switch(responseJSON.ext){
                    case 'gif':
                    case 'jpg':
                    case 'jpeg':
                    case 'png':
                        break;
                    default:
                        // Do nothing
                        break;
                }
                if(uploader._filesInProgress < 1){
                    window.allert("All files have been uploaded. The page will refresh itself in 10 seconds.");
                    // var t = setTimeout('location.href = location.href;', 10000)
                }
            },
            showCropTool: 1,
            scaling: {
                sizes: [
                    {name: "sss",maxSize: 500},
                    {name: "mmm",maxSize: 1000}
                ]
            },
        });

    }

    function changePage(pageName,pageType,newHistory){
        var pageNames;
        if (historyList.length === 0 && historyPointer ===-1 || pageName !== historyList[historyPointer]["pageName"]) {

            if(historyList.length === 0 && historyPointer ===-1){
                pushHistory(pageName, window.location.pathname);
            }
            switch (pageName) {
                case "feed" || "home" || "" : {
                    // show feed items --> hide Others
                    $("#postsContainer").addClass("show");
                    if(pageName === "home" || pageName === "" ){
                        $("#homeSliders").addClass("show");
                        $("#postsContainer").addClass("show");
                    }
                    // hide elements

                    pageNames = ["settings","newPost" , "slideView" ,"profileTop","profileTopSmall", "contact" ,"policy"];
                    for(var x = 0 ; x < pageNames.length ; x ++){
                        if( pageName === pageNames[x]){
                            $(`#${pageName}`).addClass("show");
                        }
                        else{
                            if($(`#${pageName}.show`)) {
                                $(`#${pageName}.show`).removeClass("show");
                            }
                        }
                    }
                }
                    break;
                case "profile": {
                    $("#postsContainer").addClass("show");
                    $("#profileTop").addClass("show");
                    $("#profileTop").addClass("show");

                    pageNames = ["settings","newPost" , "slideView" , "homeSliders","contact" ,"policy"];
                    for(var x = 0 ; x < pageNames.length ; x ++){
                        if( pageName === pageNames[x]){
                            $(`#${pageName}`).addClass("show");
                        }
                        else{
                            if($(`#${pageName}.show`)) {
                                $(`#${pageName}.show`).removeClass("show");
                            }
                        }
                    }
                }
                    break;
                break;
                case "settings" || "newPost" || "slideView" || "contact" || "policy": {
                    $(`#${pageName}`).addClass("show");
                    var pageNames = ["settings","newPost" , "slideView" , "contact" ,"policy"];
                    for(var x = 0 ; x < pageNames.length ; x ++){
                        if( pageName === pageNames[x]){
                            $(`#${pageName}`).addClass("show");
                        }
                        else{
                            if($(`#${pageName}.show`)) {
                                $(`#${pageName}.show`).removeClass("show");
                            }
                        }
                    }

                }break;
            }
        }
        if (newHistory || false) {
            pushHistory(pageName, window.location.pathname);
        }

    }
    function hideOthers(pageName){
        for(var x = 0 ; x < pageNames.length ; x ++){
            if(pageNames[x]!==pageName){
                hidePage(pageName);
            }
        }
    }
    function pushHistory(newPageName,url){
        historyList.push({pageName:newPageName,urlData:url});
        historyPointer++;
    }
    function checkForward(){
        if(historyPointer < historyPointer.length -1){
            $("#forwardBtn").show(100);
        }
        else{
            $("#forwardBtn").hide(100);
        }
    }
    function backward(){
        if(historyPointer > 0){
            historyPointer--;
            changePage(historyList[historyPointer]["pageName"],false);
            window.history.replaceState(historyList[historyPointer]["pageName"],historyList[historyPointer]["pageName"],historyList[historyPointer]["urlData"]);
        }
        else{
            window.history.back();
        }
    }
    function forward(){
        if(historyPointer < historyList.length -1 ){
            historyPointer++;
            changePage(historyList[historyPointer]["pageName"],false);
            window.history.replaceState(historyList[historyPointer]["pageName"],historyList[historyPointer]["pageName"],historyList[historyPointer]["urlData"]);
        }
        else{
            //
        }
    }
    function loginResponse(res){
        if(res["token"] && res["key"] && res["username"]){
            createCookie("X-ACCESS-TOKEN",res["token"],1);
            createCookie("KEY",res["key"],1);
            $(".loginSmall").slideUp(300);
            alert("Wellcome To Hexas");
            getMe();
        }
        else {
            window.location.pathname = "/login";
        }
    }
    function getMeResponse(res){
        if(res !== null) {
            $(".accountCard").html(`
    	<a href="" id="profileBtn">${res.username}</a>
    	<a href="/getNotifs" id="newPostBtn"></a>
    	<a href="" id="notifBtn"></a>
    `);
        }
    }
    function alert(message){
        $("#alertTop h3").html(message);
        $("#alertTop").addClass("show");
        setTimeout(function (){
            $("#alertTop").removeClass("show");
            // Something you want delayed.
        }, 3000); // 5seconds show
    }
</script>




</html>