<html>
<head>
    <script src="../Statics/javascripts/jquery.min.js"></script>
    <link rel="stylesheet" href="../Statics/stylesheets/fine-uploader-gallery.css">
    <link rel="stylesheet" href="../Statics/stylesheets/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="../Statics/javascripts/cookies.js"></script>
    <script src="../Statics/javascripts/fine-uploader/all.fine-uploader/all.fine-uploader.js"></script>
    <title>Hexaks</title>
</head>

<body>

<div class="ratePad">

</div>


<div id="homeContainer" class="containerDiv">
    <div id="alertTop">
        <h3></h3>
    </div>
    <div class="homeSliders" id="homeSliders">
        <div class="bigSlider">
            <img src="../Statics/images/sliders/slider1/4.jpg"/>
        </div>
        <div class="smallSlider">
            <img src="../Statics/images/sliders/slider2/1.jpg"/>
        </div>
        <div class="smallSlider">
            <img src="../Statics/images/sliders/slider3/2.jpg"/>
        </div>
    </div>
    <div class="profileTop" id="profileTop">
        <img src="../Statics/images/images/charkheshi.gif" class="loader"/>
        <div class="profileTopContainer">
            <div class="profPic">
                <img class="hexShape" src="../Statics/images/images/hexShape200g.png">
                <img src="../Statics/images/images/avatar.png" class="image"/>
            </div>
            <div class="userInfo">
                <span class="hostFullName"></span>
                <a class="followersBtn"></a>
                <a class="followingsBtn"></a>
                <span class="hostLocation"></span>
                <span class="roles"></span>
                <p class="username" hidden></p>
                <p class="private" hidden></p>
            </div>
            <button id="follow">Follow</button>
            <button id="unfollow">Unfollow</button>
            <ul class="badges">
                <li class="eachBadge">
                    <img src="../Statics/images/images/premiumBadge.png"/>
                    <p hidden> badgeId</p>
                </li>
                <li class="eachBadge">
                    <img src="../Statics/images/images/logoA.png"/>
                    <p hidden> badgeId</p>
                </li>
                <li class="eachBadge">
                    <img src="../Statics/images/images/loader6.png"/>
                    <p hidden> badgeId</p>
                </li>
                <li class="allBadgesBtn">
                    +5
                </li>
            </ul>
        </div>
    </div>
    <div class="profileTopSmall" id="profileTopSmall">
    </div>
    <div class="topNav">
        <ul>
            <li class="selected">Latest</li>
            <li>Top</li>
            <li>Curated</li>
        </ul>
    </div>
    <div class="accountCard">
        <a href="/login" id="loginBtn">Login</a>
        <a href="/register">Register</a>
    </div>
    <div class="loginSmall">
        <form action="/login">
            <input placeholder="username or email" type="text">
            <input type="password" placeholder="password">
        <button id="loginSubmit">Login</button>
        </form>
    </div>
    <div class="timeNav">
        <h3>For Last</h3>
        <select>
            <option value="hour"> hour</option>
            <option value="day"> day</option>
            <option value="3 days">  3 days</option>
            <option value="week"> week</option>
            <option value="month"> month</option>
        </select>

        <button class="closeTimeNav"></button>
    </div>
    <div class="nav rightSide">
        <img id="logo" src="../Statics/images/images/LOGO.png">
        // parse dynamicly for clients - authenticated - and role based
        <ul>
            <li class="selected">Home</li>
            <li>Explore</li>
            <li>Subscriptions</li>
            <li>People</li>
        </ul>
        <a href="/settings">Settings</a>
        <a href="/about" id="about">About</a>
    </div>
    <!--<div class="footer">-->
    <!--<a href="/terms">Terms Of Service</a>-->
    <!--<a href="/faq">FAQ</a>-->
    <!--<a href="/contact">Contact</a>-->
    <!--</div>-->
    <div class="postsContainer" id="postsContainer">

    </div>
    <div class="settingsContainer" id="settings">
        <div class="menu">
            <h2>Account Information</h2>
            <h2>Account Settings</h2>
            <h2>Change Password</h2>
            <h2>Badges</h2>
            <h2>Deactive or Delete</h2>
        </div>
        <div class="formContainer">
            <div class="accountSettings">
                <label>Username</label>
                <input type="text" class="username">
                <label>Full Name</label>
                <input type="text" class="fullName">
                <label>Email</label>
                <input type="text" class="email">
                <label>City</label>
                <input type="text" class="city">
                <label>Bio</label>
                <textarea type="text" class="bio">

                </textarea>

            </div>
        </div>
    </div>
</div>

<div class="slideView" id="slideView">


</div>


<div class="contactContainer" id="contact">

</div>

<div class="policyContainer" id="policy">

</div>

<div class="newPostContainer" id="newPost">
    <div class="newPostForm">
        <select name="category" id="category">
            <option value="Nature">Nature</option>
            <option value="Industrial">Industrial</option>
            <option value="Society">Society</option>
            <option value="Color Full">Folan</option>
        </select>
        <div id="uploadArea" >
            <strong>Drag one or more files to this Drop Zone ...</strong>
            <input type="file" accept="image/*" class="browseSingle">
        </div>
        <div name="caption" id="caption" contenteditable="true"></div>
        <button id="submitPost" > Post </button>
    </div>
</div>


<script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button">
            <div>Upload a file</div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
        <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
            <li>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <div class="qq-thumbnail-wrapper">
                    <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
                </div>
                <button type="button" class="qq-upload-cancel-selector qq-upload-cancel"></button>
                <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                    <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                    Retry
                </button>

                <div class="qq-file-info">
                    <div class="qq-file-name">
                        <span class="qq-upload-file-selector qq-upload-file"></span>
                        <span class="qq-edit-filename-icon-selector qq-btn qq-edit-filename-icon" aria-label="Edit filename"></span>
                    </div>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                        <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                        <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                        <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                    </button>
                </div>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>


</body>



<script>
    // Global Variables.JS
    // import * as Jimp from "jimp";
    var Me = {};
    var currentPost = {
        postId:"",
        info:{

        }
    };
    var currentPostItterator = 1;
    var postsList = [ /* current post schema */ ];
    var pageType="";
    var Filters = {
        username:pageType,
        pageNumber : 1,
        counts: 10,
        isCurated : null,
        curator : null ,
        hashtag : [],
        order : "top",
        orderBy : "rate.value",
        timeEdge: 2, // hours
        leftCost:0,
        rightCost:1000000,
        category : null,
    };

    var originalUploader = {};
    // initial by url parsing
    var currentPage = "";
    var historyPointer = -1;
    var historyList = [];
    var orderName = "";
    // Events.Js

    $(document).ready(function(){
        if( readCookie("X-ACCESS-TOKEN") !==null) {
            getMe();
            setUploaders();
            ratePadInitial();
            urlParser(true);
        }
        else {

        }
    });
    $("body").on("click","#newPostBtn",function(event){
       event.preventDefault();
       changePage("newpost","newPost",true);
    });
    $("body").on("submit",".loginSmall form",function(event){
        event.preventDefault();
    });
    // TOP NAV
    $("body").on("click",".topNav ul li",function(){
        $(this).parents("ul").children(".selected").removeClass("selected");
        $(this).addClass("selected");
        Filters.orderBy = $(this).html();

        orderName = $(this).html().toLowerCase();

        if(orderName === "curated"|| orderName === "top") {
            $(".timeNav").addClass("show");
        }
        else if(orderName === "latest" ){
            if($(".timeNav.show")) {
                $(".timeNav.show").removeClass("show");
            }
        }
        else{
            window.alert("wrong input for order");
        }
    });
    $("body").on("click",".closeTimeNav",function(){
        if($(".timeNav.show")) {
            $(".timeNav.show").removeClass("show");
        }
    });
    $('body').on("click","#loginSubmit",function(){
        var input = {
            username : $(".loginSmall").children("input")[0].value,
            password: $(".loginSmall").children("input")[1].value
        };
        login(input);
    });
    $("body").on("click","#forwardBtn",function(){
        forward();
    });
    $("body").on("click","#backwardBtn",function(){
        backward();
    });
    $("body").on("click","#logo",function(){
        slideNav(this);
    });

    $("body").on("click","#follow",function(){
        follow($(".userInfo .username").html());
    });
    $("body").on("click","#unfollow",function(){
        unfollow($(".userInfo .username").html());
    });
    $("body").on("click","#loginBtn",function(e){
        if (window.innerWidth > 768) {
            e.preventDefault();
            $(".loginSmall").slideDown(300);
        }
    });
    $("body").on("click","#logoutBtn",function(){
        logout();
    });
    $("body").on("click","#submitPost",function(e){
        e.preventDefault();
        var list = $("#caption").html().toString().match(/#\w+/g);

        requestHandler("/api/v1/post/submit","POST",
                {
                caption:$("#caption").html(),
                hashtagsList:list,
                cost:0,
                isPrivate: $("#isPrivate").val() || false,
                categories:$("#category").val()
                }
                ,"submitPost");


    });


    function requestHandler(url, method, input, caller) {
        $.ajax({
            url: url || "/",
            method: method || "GET",
            data: input || {},
            beforeSend: function () {
            },
            success: function (res) {
                if(res.message && res.result===false){
                    alert(res.message);
                }
                else if(res.message && res.result===true){
                    alert(res.message);
                    responseActionHandler(caller, res);
                }
                else{
                    responseActionHandler(caller, res);
                }
            },
            timeout: function () {
                alert("Request Time Out");// get from developer
            },
            fail: function () {
                alert("Oops Something Went wrong");
            },
            err: function () {
                alert("Oops Something Went Wrong");
            }
        });
    }
    // 3.Handlers
    // Request handlers
    // users
    function logout() {
        eraseCookie("KEY");
        eraseCookie("X-ACCESS-TOKEN");
    }
    function login(input) {
        requestHandler("/login", "POST", input, "loginHandler");
    }
    function getMe(){
        requestHandler("/api/v1/users/getMe","GET",{},"getMe");
    }
    function loadProfileInfo(hostUserName){
        requestHandler("/api/v1/users/getHostProfile","POST",{host:hostUserName},"loadProfile");
    }
    function getProfileInfo(){
        requestHandler("/api/v1/users/getProfileInfo","GET",{},"getProfileInfo");
    }
    function updateProfileInfo(input){
        requestHandler("/api/v1/users/updateProfileInfo","POST",input,"updateProfileInfo");
    }
    function follow(hostUsername){
        requestHandler("/api/v1/users/follow","POST",{following:hostUsername},"follow");
    }
    function unfollow(hostUsername){
        requestHandler("/api/v1/users/unfollow","POST",{following:hostUsername},"unfollow");
    }




    // Post(Picture) Handlers
    function getPostsByFilter(input,pageType){

        switch (pageType) {
            case "followings":{
                    requestHandler("/api/v1/posts/subscriptions", "POST", Filters, "getPostsByFilter");
            }break;

            case "":{
                    requestHandler("/api/v1/posts/explore", "POST", Filters, "getPostsByFilter");
            }break;
            case "top" || "latest":{
                requestHandler("/api/v1/posts/explore", "POST", Filters, "getPostsByFilter");
            }break;
            case "home":{
                    requestHandler("/api/v1/posts/home", "POST", Filters, "getPostsByFilter");
            }break;
            default : {
                console.log(pageType);
                if (input.isPrivate) {
                    if (input.following) {
                        requestHandler("/api/v1/posts/" + input.username, "POST", Filters, "getPostsByFilter");
                    }
                }
                else {
                    requestHandler("/api/v1/posts/" + input.username, "POST", Filters, "getPostsByFilter");
                }
            }
        }
    }

    function getPostInfos(){
        requestHandler("/api/v1/posts/getPostInfos/"+currentPost.postId,"GET",{},"getPostInfos");
    }



    function rate(postId,rateNumber){
        requestHandler("/api/v1/posts/rate","POST",{postId:postId,rateNumber:rateNumber},"rate");
    }

    function sendPagesInitialRequest(pageName,albumOrPost){
        if(pageName === "newPost"){
            if(albumOrPost === "post"){
                requestHandler("/api/v1/post/initial","POST",{type:"post"},pageName);
            }
            else if(albumOrPost === "album"){
                requestHandler("/api/v1/album/initial","POST",{type:"album"},pageName);
            }
            else{
                alert("invalid post type");
            }
        }
    }
    // Actions.js
    function responseActionHandler(caller, res) {
        switch (caller) {
            case "loginHandler" : {
                loginResponse(res);
            }break;
            case "getProfile" : {
                placeProfileInfo(res);
            }break;
            case "updateProfileInfo" : {
                updateProfileResponse(res);
            }break;
            case "loadProfile" : {
                loadProfileResponse(res);
            }break;
            case "follow" : {
                followAction(res);
            }break;
            case "unfollow" : {
                unfollowAction(res);
            }break;
            case "getMe" : {
                getMeResponseAction(res);
            }break;
            case "rate":{
                rateResponseHandler(res);
            }break;
            case "newPost":{
                newPostPageAction(res);
            }break;
            case "slideView":{
                slideViewPageAction(res);

            }break;

            case  "getPostInfos":{

            }break;
            case "getPostsByFilter":{
                console.log("total :" + res.total + " - "+ res.page + " / " + res.pages);
                parsePosts(res.docs);
            }break;
            case "submitPost":{
                submitPostAction(res);
            }break;
        }
    }
    function urlParser(writeState){ // --> Page Name --> Username / post Orders / category / #hashtags
        Filters.hashtag = window.location.hash;
        if(window.location.pathname.split("/")[1]){
            pageType = window.location.pathname.split("/")[1].toLowerCase();
        }
        if(window.location.pathname.split("/")[2]){
            var orderBy = window.location.pathname.split("/")[2];
            if( orderBy === "curated" || orderBy === "latest" || orderBy === "top" ) {
                Filters.orderBy = orderBy;
                Filters.category = window.location.pathname.split("/")[3] || null;
            }
        }
        if(pageType === "home" || pageType === "" || pageType === "explore" || pageType === "followings" || pageType === "followers" ||
            pageType === "slideView"|| pageType === "curated" || pageType === "latest" || pageType ==="settings" ||
            pageType === "top" || pageType ==="contact" || pageType==="newpost" || pageType==="policy") {

            if( pageType === "curated" || pageType === "latest" || pageType === "top" ) {
                Filters.orderBy = pageType;
                Filters.category = window.location.pathname.split("/")[2] || null;
                if(pageType==="curated"){
                    pageType = "top";
                }
                changePage("feed",pageType, writeState);// Other Pages
            }
            else {
                if (pageType === "settings" || pageType === "slideview" || pageType === "contact" || pageType === "newpost" || pageType === "policy")
                    changePage(pageType, pageType, writeState);// Other Pages
                else
                    changePage("feed", pageType, writeState);// Feed

            }
        }
        else{
            changePage("profile",pageType,writeState);// Profile -->
        }
    }
    // action functions
    function setUploaders() {
        originalUploader = new qq.FineUploader({
            element: document.getElementById("uploadArea"),
            request: {
                endpoint: '/api/v1/upload',
                customHeaders: {
                    size:"Original"
                }
            },
            chunking: {
                enabled: true,
                concurrent: {
                    enabled: false
                },
                success:{
                }
            },
            resume: {
                enabled: true
            },
            retry: {
                enableAuto: true,
                showButton: true
            },
            allowedExtensions: ['gif','jpg','jpeg','png'],
            onSubmit: function(id, fileName){

            },
            onComplete: function(id, fileName, responseJSON){ // Customize the output sent to responseJSON in demo.php
                resetParams();
                debugger;
                $(".qq-file-id-"+id).remove();

                switch(responseJSON.ext){
                    case 'gif':
                    case 'jpg':
                    case 'jpeg':
                    case 'png':
                        break;
                    default:
                        // Do nothing
                        break;
                }
                if(originalUploader._filesInProgress < 1){
                    $(".qq-file-id-"+parseInt(id+1)).remove();
                    alert("Files Uploaded Successfuly");
                    // var t = setTimeout('location.href = location.href;', 10000)
                }
            },
            showCropTool: 1,
            scaling: {
                sizes: [
                    {name: "sss",maxSize: 500},
                    {name: "mmm",maxSize: 1000}
                ]
            },
        });

    }

    function changePage(pageName,pageType,newHistory){

        setTimeout(function(){

            console.log(pageName+" --- "+pageType);

                if(pageName=== "feed" || pageName=== "home" || pageName=== ""){
                    // show feed items --> hide Others
                    if( pageName !== currentPage ) {
                        $("#postsContainer").addClass("show");
                        if (pageName === "home" || pageName === "") {
                            $("#homeSliders").addClass("show");
                            $("#postsContainer").addClass("show");
                        }
                        // hide elements
                        pageNames = ["settings", "newPost", "slideView", "profileTop", "profileTopSmall", "contact", "policy"];
                        for (var x = 0; x < pageNames.length; x++) {
                            if (pageName === pageNames[x].toLowerCase()) {
                                $(`#${pageNames[x]}`).addClass("show");
                            }
                            else {
                                if ($(`#${pageNames[x]}.show`)) {
                                    $(`#${pageNames[x]}.show`).removeClass("show");
                                }
                            }
                        }
                    }
                    // --> Function Calls
                    getPostsByFilter({},pageType);
                    if(newHistory || false) {
                        pushHistory(pageName,pageType ,pageType);
                    }
                }
                else if(pageName === "profile"){
                    var hostUserName = pageType;
                    if( pageName !== currentPage ) {
                        $("#postsContainer").addClass("show");
                        $("#profileTop").addClass("show");
                        pageNames = ["settings", "newPost", "slideView", "homeSliders", "contact", "policy"];
                        for (var x = 0; x < pageNames.length; x++) {
                            if (pageName === pageNames[x]) {
                                $(`#${pageNames[x]}`).addClass("show");
                            }
                            else {
                                if ($(`#${pageNames[x]}.show`)) {
                                    $(`#${pageNames[x]}.show`).removeClass("show");
                                }
                            }
                        }
                    }
                    loadProfileInfo(hostUserName);
                    if(newHistory || false) {
                        pushHistory(pageName,hostUserName,pageType);
                    }
                }
                else if(pageName=== "settings" || pageName==="newpost" || pageName==="slideview" || pageName==="postscontainer" || pageName==="contact"){
                    if( pageName !== currentPage ) {
                        var pageNames = ["settings", "newPost", "slideView", "postsContainer", "contact", "policy"];

                        for (var x = 0; x < pageNames.length; x++) {

                            if (pageName === pageNames[x].toLowerCase()) {
                                $(`#${pageNames[x]}`).addClass("show");
                                sendPagesInitialRequest(pageNames[x],"post");
                            }
                            else {
                                if ($(`#${pageNames[x]}.show`)) {
                                    $(`#${pageNames[x]}.show`).removeClass("show");
                                }
                            }
                        }
                    }
                    if(newHistory || false) {
                        pushHistory(pageName,pageName,pageType);
                    }
                }
                else {
                    alert("Oops , Page Name Not Defined !");
                }
                currentPage = pageName ;
        },50);

    }

    function pushHistory(newPageName,url,data){
        window.history.replaceState("","","/");
        window.history.replaceState("/","",url);
        if (historyPointer === historyList.length-1 ) {
            historyList.push({pageName: newPageName, urlData: url ,data:data, hashtag : window.location.hash});
            currentPage = newPageName;
            historyPointer++;

        }
        else if (historyPointer < historyList.length -1 ){
            for(var x  = historyList.length -1 ; x > historyPointer ; x--){
                historyList.pop();
                if(x === historyPointer + 1){
                    historyList.push({pageName: newPageName, urlData: url,data:data ,hashtag : window.location.hash});
                    currentPage = newPageName;
                    historyPointer++;
                }
            }
        }
    }
    function checkForward(){
        if(historyPointer < historyPointer.length -1){
            $("#forwardBtn").show(100);
        }
        else{
            $("#forwardBtn").hide(100);
        }
    }
    function backward(){
        if(historyPointer > 0){
            historyPointer--;
            changePage(historyList[historyPointer].pageName,historyList[historyPointer].urlData,false);
            window.history.replaceState("","",historyList[historyPointer].urlData+("/" + historyList[historyPointer].hashtag) || "");
        }
        else{
            window.history.back();
        }
    }
    function forward(){
        if(historyPointer < historyList.length -1 ){
            historyPointer++;
            changePage(historyList[historyPointer].pageName,historyList[historyPointer].urlData,false);
            window.history.replaceState("","",historyList[historyPointer].urlData+("/" + historyList[historyPointer].hashtag) || "");
        }
        else{
            //
        }
    }
    function loginResponse(res){
        if(res["token"] && res["key"] && res["username"]){
            createCookie("X-ACCESS-TOKEN",res["token"],1);
            createCookie("KEY",res["key"],1);
            $(".loginSmall").slideUp(300);
            alert("Wellcome To Hexas");
            getMe();
        }
        else {
            window.location.pathname = "/login";
        }
    }
    function getMeResponseAction(res){
        Me = res;
        if(res !== null) {
            $(".accountCard").html(`
    	<a href="" id="profileBtn">${res.username}</a>
    	<a href="/getNotifs" id="newPostBtn"></a>
    	<a href="" id="notifBtn"></a>
    `);
        }
    }

    function slideNav(element){
        if (window.innerWidth < 1025) {
            if (element.className === "") {
                if ($(".rightSide")[0]) {
                    $(element).addClass("halfRight");
                    $(".rightSide").addClass("hide");
                    $(".accountCard").css("right","0");
                }
                else if ($(".leftSide")[0]) {
                    $(element).addClass("halfLeft");
                    $(".leftSide").addClass("hide");
                    $(".accountCard").css("right","0");
                }
            }
            else if (element.className === "halfLeft") {
                $(element).removeClass("halfLeft");
                $(".leftSide").removeClass("hide");
                $(".accountCard").css("right","100px");
            }
            else if (element.className === "halfRight") {
                $(element).removeClass("halfRight");
                $(".rightSide").removeClass("hide");
                $(".accountCard").css("right","100px");
            }
            else {
                //
            }
        }
    }

    function placeProfileInfo(res){

    }

    function updateProfileResponse(res) {

    }

    function loadProfileResponse(res) {
        if (res.message) {
            alert(res.message);
        }
        else if (res.user) {
            var list = $(".profileTop .userInfo").children();
            list[0].innerHTML = (res.user.fullName);
            list[1].innerHTML = (res.user.followingsCount) + " Followings";
            list[2].innerHTML = (res.user.followersCount) + " Followers";
            list[3].innerHTML = (res.user.city) || "";
            list[4].innerHTML = (res.user.roles.toString()) || "";
            list[5].innerHTML = (res.user.username);
            list[6].innerHTML = (res.user.isPrivate);

            $(".profileTop .loader").addClass("hide");

            if (res.followed !== null && res.following !== null) {
                if (res.followed === true && res.following === false) { // following but not followed --> Follow Back
                    $("#follow").addClass("show");
                    $("#follow").html("Follow Back");
                    if(res.user.isPrivate===false){

                    }
                }
                else if (res.followed === false && res.following === true) { // followed but not following
                    $("#unfollow").addClass("show");
                }
                else if (res.followed === true && res.following === true) { // both following and followed
                    $("#unfollow").addClass("show");
                }
                else { // none
                    $("#follow").addClass("show");
                }
            }
            else {
                if(res.user.isPrivate)
                    $("#unfollow").remove();
                    $("#follow").remove();
            }
            Filters.hashtags = ""; // to lowwer case
            Filters.category = "";
            getPostsByFilter({username:res.user.username,followed:res.followed , following:res.following,isPrivate:res.isPrivate});
        }
        else {
            alert("User not found !");
        }
    }

    function followAction(res){
        if(res===true){
            $("#follow").removeClass("show");
            $("#unfollow").addClass("show");
        }
        else{
            alert("Oops Something Went Wrong");
        }
    }
    function unfollowAction(res){
        if(res===true){
            $("#unfollow").removeClass("show");
            $("#follow").addClass("show");
        }
        else{
            alert("Oops Something Went Wrong");
        }
    }


    function ratePadInitial(){
        for(var x = 1 ; x < 7 ; x++) {
            $(".ratePad").append(`
                 <div><div class="triangle" id="peace-${x}">
                    <span>
                        ${x}
                    </span>
                </div></div>
            `);
        }

        // setTimeout(function(){$(".ratePad").addClass("show")},200);

        $("body").on("mouseenter",".ratePad > div .triangle",function(event){
            var number = parseInt($(this).children("span").html());
            if($(".triangle.selected")){
                $(".triangle.selected").removeClass("selected");
            }
            for(var x = 1 ; x < number ; x++){
                $(`peace-${x}`).addClass("selected");
            }
        });

        $("body").on("mouseenter",".ratePad > div .triangle",function(event){
            var rateNumber = $(this).children("span").html();
            var postId = "" ;// post id from list Or from template

            rate(rateNumber,postId);
        });
    }
    function parsePosts(posts){
        postsList = posts;
        console.log(postsList);
        if(Filters.pageNumber===1){
            $(".postsContainer").html();
        }
        var length = postsList.length -1;
        $.each(postsList,function(index,data){
            var curator = ``;
            if(postsList[length - index].isCurated){
                curator = `

                `;
            }

            $(".postsContainer").append(`
                <li class="eachPost" id="post-${postsList[length - index].postId}">
                    <div class="header">
                        <img class="profilePicture left" src="../Statics/images/profilePics/${postsList[length - index].owner.username}-prof.jpg" />
                        <span class="username left">${postsList[length - index].owner.username}</span>
                        <div class="curatorContainer right">
                            <img src="../Statics/images/images/curateSmallBtn.png"/>
                        </div>
                    </div>
                    <div class="imgContainer">
                        <img src="../Statics/Pictures/${postsList[length - index].postId}-Small.${postsList[length - index].ext}" />
                    </div>
                    <div class="footer">
                        <div class="rate">
                            <img class="rateIcon" src="../Statics/images/images/b_like_p.png" />
                            <span>${postsList[length - index].rate.value}/6</span>
                        </div>
                        <span class="time right">${postsList[length - index].createdAt}</span>
                    </div>
                </li>
            `);
        });
    }
    function slideViewPageAction(res){
        console.log(res);
    }
    function newPostPageAction(res){
        console.log(res);

    }

    function rateResponseHandler(res){
        console.log(res);
    }
    function submitPostAction(res){
        if(!res.message) {
            window.location.pathname= "/"+Me.username;
        }
        else{
            console.log(res.message);
        }
    }
    function alert(message){
        $("#alertTop h3").html(message);
        $("#alertTop").addClass("show");
        setTimeout(function (){
            $("#alertTop").removeClass("show");
            // Something you want delayed.
        }, 3000); // 5seconds show
    }




</script>




</html>