<html>
<script src="../Statics/javascripts/jquery.min.js"></script>
<link rel="stylesheet" href="../Statics/stylesheets/register-login.css">
<link rel="stylesheet" href="../Statics/stylesheets/bootstrap.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>

    <title>Hexaks</title>
</head>

<body>
<div id="homeContainer" class="containerDiv">
    <div class="loginRegForm">

        <h2>Register</h2>
            <form action="/register">
                <input type="text" placeholder="username" id="username"/>
                <input type="text" placeholder="full name" id="fullName"/>
                <input type="email" placeholder="email@example.com" id="email"/>
                <input type="password" placeholder="password" id="password"/>
                <input type="password" placeholder="confirm password" id="confPassword"/>
                <button id="regBtn">Register</button>
            <form>
        <p class="messageBox">

        </p>
    </div>

    <div class="footer">
        <a href="/faq">FAQ</a>
        <a href="/tutorials">Tutorials</a>
        <a href="/about">About Us</a>
    </div>
</div>
</body>



<script>
    // Events.js
    $('.loginRegForm').on("submit",".loginRegForm form",function(event) {
        event.preventDefault();
    });
    $('.loginRegForm').on("click","#regBtn",function(){
        var input = {
            username : $("#username").val(),
            email : $("#email").val(),
            fullName : $("#fullName").val(),
            password: $("#password").val()
        };
        requestHandler("/register", "POST", input)
    });
    function requestHandler(url, method, input) {
        $.ajax({
            url: url || "/",
            method: method || "GET",
            data: input || {},
            before: function () {
            },
            success: function (res) {
                responseActionHandler(res);
            },
            timeout: function () {
                window.alert("time out");
            },
            fail: function () {
                window.alert("failed");
            },
            err: function () {
                window.alert("err");
            }
        });
    }
    // Response Actions Handler
    function responseActionHandler(res) {
        if(res.result===false){
            window.alert(res.message);
        }
        else{
            window.location.pathname="/login";
        }
    }
</script>
</html>