
@viewport {
	width: device-width;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Century Schoolbook L", sans-serif;
	overflow-y:hidden;
	width:100%;
	height: 100%;
}
a,h1,h2,h3,h4,h5,h6,p,span,input,button,textarea,form,ul,li,div,label{
	text-decoration: none;
	font-family: "Century Schoolbook L", sans-serif;
	color: white;
}
.footer{
	position: relative;
	float: left;
	display: block;
	clear: both;
	height: 40px;
	background-color:black;
	width:100%;

}
.containerDiv{
	position: relative;
	width: 100%;
	padding:0;
	margin:0;
	height: auto;
	display: block;
	float: left;
	background-color: whitesmoke;

}

.containerDiv > div{
	position: relative;
	background-color: rgba(50,50,50,0.90);
	display: block;
	height: 100%;
	width: 100%;
	max-width: 700px;
	margin:0 auto;
	overflow-y: auto;
	overflow-x: hidden;
}
.containerDiv > div form{
	position: relative;
	height: auto;
	width:100%;
	top:50px;
	text-align: center;
}

.containerDiv > div h2,.containerDiv > div input,.containerDiv > div button{
	position: relative;
	clear: right;
	text-align: center;
	width:100%;
	margin:10px 0;
	top:5px;
	display: inline-block;
	height: 40px;
}
.containerDiv > div h2{
	margin-top:25px;
	color:white;
	margin-bottom:20px;
}
.containerDiv > div form{
	display: inline-block;
	width:100%;
	position: relative;
	height: auto;
	text-align: center;
}
.containerDiv > div form div{
	width:80%;
	color:black;
	background-color: transparent;
	height: 60px;
	position: relative;
	display: inline-block;
}
.containerDiv > div form div input{
	background-color: white;
	position: relative;
	top:10px;
	text-align: center;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.containerDiv > div form .form-group{
	float: left;
	width: auto;
	height: 80px;
	color: white;
	font-size: 24px;
	line-height: 35px;
	width: 300px;
	margin: 30px 20px;
	display: inline-grid;
	
}
.containerDiv > div form .form-group input{
	background: none;
	border:none;
	width: 100%;
	height: 100%;
	padding:15px 8px 15px;
	border-bottom:2px solid #aaa;
	color:transparent;
	font-size:16px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	color:white;
}
.containerDiv > div form .form-group label{
	position: absolute;
	bottom:14px;
	font-size:16px;
	opacity: .5;
	height: 20px;
	color:#aaa;
	width: 100%;
	cursor: text;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.containerDiv > div form .form-group input:focus ,.containerDiv > div form  .form-group input.blurred{
	color:white;
	border-color:#ff0055;
}
.containerDiv > div form  .form-group input:focus{
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.containerDiv > div form .form-group input:focus + label ,.containerDiv > div form .form-group input.blurred + label{
	font-size:12px;
	bottom:-12px;
	opacity: 0.5;
	color:#ff0055; 
}
.containerDiv > div form div img{
	background-color: white;
	position: relative;
	float: right;
	right:0;
	width:30px;
	height: auto;
	color:black;
	font-size:21px;
	top:30px;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	padding:1px 0;
	background-color: transparent;
}
.containerDiv > div form div img.show{
	opacity: 1;
}
.containerDiv > div form button{
	display: block;
	position: relative;
	width: 64%;
	font-size: 30px;
	background-color: #4cae4c;
	color: black;
	height: 55px;
	padding: 0;
	margin: 40px auto;
}
.containerDiv > div form ul{
	position: relative;
	display: inline-block;
	width: 100%;
	left:10%;
}
.containerDiv > div form ul.show{
	display: block;
}


@media (max-width:520px){
	.containerDiv > div{
		max-width: none;
	}
	.containerDiv > div form div input{
		width:100%;
		height: 42px;
		padding:2px 0;
		font-size:25px;
		line-height: 28px;
		left:0;
	}
	.containerDiv > div form div img{
		position: absolute ;
		top:-10px;
		right: 0;
		z-index: 100;
	}
	.containerDiv > div form button{
		width:91.5%;
		font-size:28px;
		left:4%;
	}
	.containerDiv > div form div {
		left:0;
		width:90%;
	}
}
.containerDiv > div form .socialBox{
	opacity: 0;
	height: 0;
	position: relative;
	display: inline-block;
	width:100%;
	padding:0;
}
.containerDiv > div form .socialBox.show{
	opacity: 1;
	height: 70px;
}