
@viewport {
	width: device-width;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Century Schoolbook L", sans-serif;
	overflow-y:hidden;
	width:100%;
	height: 100%;
}
a,h1,h2,h3,h4,h5,h6,p,span,input,button,textarea{
	text-decoration: none;
	font-family: "Century Schoolbook L", sans-serif;
	color: white;
}
.footer{
	position: relative;
	float: left;display: inline-block;
	clear: both;
	height: 40px;
	background-color:black;
	width:100%;

}
.containerDiv{
	position: relative;
	width: 100%;
	padding:0;
	margin:0;
	height: auto;
	display: block;
	float: left;
	background-color: palevioletred;

}

.containerDiv .loginRegForm{
	position: relative;
	background-color: rgba(50,50,50,0.90);
	display: block;
	height: 100%;
	width: 100%;
	max-width: 700px;
	margin:0 auto;
	overflow-y: auto;
	overflow-x: hidden;
}
.containerDiv .loginRegForm form{
	position: relative;
	height: auto;
	width:100%;
	top:50px;
	text-align: center;
}
.containerDiv .loginRegForm h2,.containerDiv .loginRegForm input,.containerDiv .loginRegForm button{
	position: relative;
	float: left;
	clear: right;
	text-align: center;
	width:100%;
	margin:10px 0;
	top:5px;
	display: inline-block;
	height: 40px;
}
.containerDiv .loginRegForm h2{
	margin-top:25px;
	color:white;
	margin-bottom:20px;
}
.containerDiv .loginRegForm form{
	display: inline-block;
	width:100%;
	position: relative;
	height: auto;
	text-align: center;
}
.containerDiv .loginRegForm form div{
	left:0;
	width:80%;
	color:black;
	background-color: transparent;
	height: 60px;
	position: relative;
	display: inline-block;
}
.containerDiv .loginRegForm form div input{
	background-color: white;
	position: relative;
	float: left;
	left:10%;
	width:80%;
	height: 40px;
	color:black;
	font-size:24px;
	line-height: 35px;
	top:10px;
	text-align: center;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.containerDiv .loginRegForm form div input:focus{
	outline: #ff0055;
}
.containerDiv .loginRegForm form div input.changed{
	text-align: left;
}
.containerDiv .loginRegForm form div img{
	background-color: white;
	position: relative;
	float: right;
	right:0;
	width:30px;
	height: auto;
	color:black;
	font-size:21px;
	top:30px;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	padding:1px 0;
	background-color: transparent;
}
.containerDiv .loginRegForm form div img.show{
	opacity: 1;
}
.containerDiv .loginRegForm form button{
	display: block;
	position: relative;
	width: 64%;
	font-size: 30px;
	background-color: #4cae4c;
	color: black;
	height: 55px;
	padding: 0;
	margin: 40px auto;
	left: 18.2%;
}
.containerDiv .loginRegForm form ul{
	position: relative;
	display: inline-block;
	width: 100%;
	left:10%;
}
.containerDiv .loginRegForm form ul.show{
	display: block;
}


@media (max-width:520px){
	.containerDiv .loginRegForm{
		max-width: none;
	}
	.containerDiv .loginRegForm form div input{
		width:100%;
		height: 42px;
		padding:2px 0;
		font-size:25px;
		line-height: 28px;
		left:0;
	}
	.containerDiv .loginRegForm form div img{
		position: absolute ;
		top:-10px;
		right: 0;
		z-index: 100;
	}
	.containerDiv .loginRegForm form button{
		width:91.5%;
		font-size:28px;
		left:4%;
	}
	.containerDiv .loginRegForm form div {
		left:0;
		width:90%;
	}
}
.containerDiv .loginRegForm form .socialBox{
	opacity: 0;
	height: 0;
	position: relative;
	display: inline-block;
	width:100%;
	padding:0;
}
.containerDiv .loginRegForm form .socialBox.show{
	opacity: 1;
	height: 70px;
}