html{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	font-family: "Century Schoolbook L", sans-serif;
	overflow-x:hidden;
	width:100%;
	height: 100%;
	background-color: #ededed;
	overflow-y: auto;
	padding: 0;
}
a,h1,h2,h3,h4,h5,h6,p,span,input,button,textarea{
	text-decoration: none;
	font-family: "Century Schoolbook L", sans-serif;
	color: white;
}
.footer{
	position: relative;
	float: left;display: inline-block;
	clear: both;
	height: 40px;
	background-color:black;
	width:100%;

}
.containerDiv{
	position: relative;
	width: 100%;
	margin:0;
	height: auto;
	display: block;
	float: left;
	padding: 0 0 100px;
}
.topNav{
	position: fixed;
	top:0px;
	left:0;
	border:1px solid black;
	width:90%;
	height: 50px;
	background-color:black;
	padding:2px 10px;
	z-index: 100;
}
@media (max-width:686px){
	.topNav {
		bottom: 40px;
		top: auto;
		width:100%;
		left:0;
	}
}
.topNav ul{
	width:auto;
	height: 100%;
	position: relative;
	display: inline-block;
	padding: 0;
	margin:0;
	top:5px;
	list-style-type: none;
}
.topNav ul li{
	position: relative;
	display: inline-block;
	font-size: 22px;
	color: white;
	vertical-align: middle;
	margin-right: 20px;
	top: 0;
	padding: 2px 10px;
	height: 80%;
	line-height: 40px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: black;
	-webkit-transition: background-color,color,top 200ms;
	-moz-transition: background-color,color,top 200ms;
	-ms-transition: background-color,color,top 200ms;
	-o-transition: background-color,color,top 200ms;
	transition: background-color,color,top 200ms;
}
.topNav ul li:hover,.topNav ul li.selected{
	top:10px;
	color: black;
	background-color: #ddd;
	cursor: pointer;
}
.timeNav{
	position: fixed;
	top:0;
	z-index: 99;
	background-color:#ddd;
	width:100%;
	display: block;
	padding:2px 10px;
	height: 40px;
	opacity: 0;
	-webkit-transition: top,z-index,opacity 0.5s;
	-moz-transition: top,z-index,opacity 0.5s;
	-ms-transition: top,z-index,opacity 0.5s;
	-o-transition: top,z-index,opacity 0.5s;
	transition: top,z-index,opacity 0.5s;
}
.timeNav.show {
	top: 55px;
	z-index: 101;
	opacity: 1;
}
@media (max-width:686px) {
	timeNav{
		bottom:50px;
		top:auto;
		-webkit-transition: top,z-index,opacity 0.5s;
		-moz-transition: top,z-index,opacity 0.5s;
		-ms-transition: top,z-index,opacity 0.5s;
		-o-transition: top,z-index,opacity 0.5s;
		transition: top,z-index,opacity 0.5s;
	}

	.timeNav.show {
		bottom: 0;
		top:auto;
	}
}
.timeNav select{
	width: 150px;
	position: relative;
	display: inline-block;
	left: 0;
	list-style-type: none;
	padding: 0;
	margin:0;
	background-color:#ddd;
	outline: #4cae4c;
	font-size:19px;
	height: 30px;
	top:5px;
}
.timeNav h3{
	position: relative;
	display: inline-block;
	width: auto;
	margin-right: 20px;
	float: left;
	clear: left;
	color: black;
	bottom:10px;
}

.timeNav select option{
	position: relative;
	display: inline-block;
	width: 100%;
	font-size:19px;
	height: 100%;
	padding:0;
	background-color:#ddd;
	color:black;
	float: left;
}
.timeNav > button{
	position: absolute;
	right:200px;
	height: 40px;
	top:2px;
	width:40px;
	background: transparent url("../images/images/b-cross.png") no-repeat center;
	background-size: 100% 100%;
	-webkit-border-radius: 99px;
	-moz-border-radius: 99px;
	border-radius: 99px;
	-webkit-transition: background-color,border 0.6s;
	-moz-transition: background-color,border 0.6s;
	-ms-transition: background-color,border 0.6s;
	-o-transition: background-color,border 0.6s;
	transition: background-color,border 0.6s;
}
.timeNav > button:hover{
	background-color: #333;
	border : 1px solid white;
	cursor: pointer;
}
.timeNav select option:hover{
	color:white !important;
	background-color:black !important;
	font-weight: bold;
	margin-bottom:-5px;
	cursor: pointer;
}
.nav{
	position: fixed;
	width: 140px;
	top:0;
	z-index: 1000002;
	display: block;
	height: 100vh;
	background-color: black;
	padding-top:50px;
	-webkit-transition: background-color,left,right 500ms;
	-moz-transition: background-color,left,right 500ms;
	-ms-transition: background-color,left,right 500ms;
	-o-transition: background-color,left,right 500ms;
	transition: background-color,left,right 500ms;
	box-shadow: 1px 1px 1px 2px #151515;
}
.nav:hover{
	box-shadow: 5px 1px 10px 5px #777777;
}
.nav.leftSide{
	left:0;
	right: auto;
}
.nav.rightSide{
	right:0;
	left:auto;
}

.nav.leftSide.hide{
	left:-140px;

}
.nav.rightSide.hide{
	right:-140px;

}
.nav img{
	position: relative;
	width:95%;
	left:2.5%;
	height: auto;
	display: inline-block;
	float: left;
	clear: both;
	margin-bottom:30px;
	margin-left:0;
	margin-right:0;
	-webkit-transition: background-color,margin-right,margin-left 400ms;
	-moz-transition: background-color,margin-right,margin-left 400ms;
	-ms-transition: background-color,margin-right,margin-left 400ms;
	-o-transition: background-color,margin-right,margin-left 400ms;
	transition: background-color,margin-right,margin-left 400ms;
}
.nav .halfLeft{
	margin-right: -70px;
}
.nav .halfRight{
	margin-left: -70px;
}
.nav img:hover{
	cursor: pointer;
}
.nav ul{
	width:100%;
	height: auto;
	padding: 0;
	margin:0;
	list-style-type: none;
	display: inline-block;
	position: relative;
	float: left;
	clear: both;
}
.nav ul li,.nav a{
	position: relative;
	display: inline-block;
	width:100%;
	left: 0;
	padding: 5px;
	margin-bottom:5px;
	line-height: 25px;
	font-size: 20px;
	height: 28px;
	vertical-align: middle;
	float: left;
	color:white;
	clear: both;
	text-align: left;
	background-color: black;
	margin-left:0;
	-webkit-transition: background-color,color,margin-left 200ms;
	-moz-transition: background-color,color,margin-left 200ms;
	-ms-transition: background-color,color,margin-left 200ms;
	-o-transition: background-color,color,margin-left 200ms;
	transition: background-color,color,margin-left 200ms;
}


.nav ul li.selected{
	background-color: #ededed;
	color:black;
	cursor: pointer;
	margin-left:-5px;
}
.nav a.selected{
	background-color: #ededed;
	color:black;
	cursor: pointer;
	margin-left:-5px;
}
.nav ul li:hover,.nav a:hover ,#about:hover{
	background-color: #ededed;
	color:black;
	cursor: pointer;
	margin-left:-5px;
}




.postsContainer{
	position: relative;
	top: 90px;
	width: 95%;
	padding: 60px 100px 30px 10px;
	height: auto;
	margin: 0;
	display: inline-block;
	text-align: center;
}
.postsContainer #postsHeader{
	position:absolute;
	width:100%;
	left:0;
	height: 60px;
	background-color: black;
	border:1px solid #777;
}
.postsContainer #postsHeader h3{
	position: relative;
	display: inline-block;
	float: left;
	margin:10px;
	line-height: 30px;
	top:10px;
	height: 40px;
	text-align: left;
}
.postsContainer .eachPost {
	position: relative;
	display: inline-block;
	margin: 60px 30px;
	max-width: 400px;
	width: 330px;
	height: 400px !important;
	float: left;
	overflow: hidden;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	box-shadow: 1px 1px 1px 0px;
}
.postsContainer .eachPost:hover{
	box-shadow: 7px 2px 15px 3px #151515;
	cursor: pointer;
}
@media (max-width:686px){
	.postsContainer{
		position: relative;
		top: 40px;
		width: 100%;
		padding: 0;
		height: auto;
		margin: 0;
		display: inline-block;
		text-align: center;
	}

	.postsContainer .eachPost {
		display: inline-block;
		margin: 30px auto 10px;
	}
	.postsContainer #postsHeader h3{
		position: absolute;
		left:50%;
		min-width:200px;
		-webkit-transform: translate(-50%,0);
		-moz-transform: translate(-50%,0);
		-ms-transform: translate(-50%,0);
		-o-transform: translate(-50%,0);
		transform: translate(-50%,0);
	}
}
.postsContainer .eachPost .imgContainer img{
	position: relative;
	margin: 0 auto;
	display: inline-block;
	height: auto;
	width: 100%;
	max-width:400px;

}
.eachPost .header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	background-color: rgba(50,50,50,0.5);
	display: inline-block;
	height: 50px;
}
.eachPost .header span{
	color:white;
	height: 100%;
	position: relative;
	display: inline-block;
	width: auto;
	font-size:17px;
	line-height: 50px;
	margin-left: 10px;
}
.eachPost .header .username{
	font-size:18px;
	-webkit-transition: color,font-size 300ms;
	-moz-transition: color,font-size 300ms;
	-ms-transition: color,font-size 300ms;
	-o-transition: color,font-size 300ms;
	transition: color,font-size 300ms;

}
.eachPost .header .username:hover{
	color:Gold;
	cursor: pointer;
	font-size: 19px;
}
.eachPost .header .profilePicture{

	position: relative;
	clear: left;
	display: inline-block;
	margin-left:-25px;
	width: 50px;
	height: 50px;
	top:0;
	left: 0;
	background: url("../images/images/avatar.png") no-repeat fixed;
	background-position-x: center;
}
.eachPost .header .profilePicture{
	clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.eachPost .header .profilePicture img{
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
}
.eachPost .header .curatorContainer{
	position: relative;
	display: inline-block;
	clear: right;
	padding-right: 30px;
}
.eachPost .header .curatorContainer{
	position: relative;
	display: inline-block;
	width: auto;
	color:white;
}
.eachPost .header .curatorContainer img{

	position: relative;
	display: block;
	width:35px;
	height: 35px;
	top:8px;

}


.eachPost .imgContainer{
	position: absolute;
	height: auto;
	display: inline-block;
	width: 100%;
	height: auto;
	left: 0;
	top: 50%;
	transform: translate(0,-50%);
}


.eachPost .footer{
	display: block;
	position: absolute;
	height: 50px;
	background-color: black;
	width: 100%;
	bottom: 0;
}
.eachPost .footer .rate{
	position: relative;
	display: inline-block;
	float: left;
	margin: 0 2px;
	height: 100%;
	padding: 1px;
}
.eachPost .footer .rate span{
	float: left;
	position: relative;
	display: inline-block;
	height: 100%;
	line-height: 50px;
	font-size:20px;
}
.eachPost .footer .rate .rateIcon{
	position: relative;
	float: left;
	width:40px;
	height: 40px;
	top:5px;
	margin:0 5px;
}
.eachPost .footer .time{
	position: relative;
	height: 100%;
	display: inline-block;
	line-height: 50px;
	font-size: 18px;
	margin-right:10px;
}
.eachPost .left{
	float: left;
}
.eachPost .right{
	float: right;
}
/*   */
#alertTop{
	position: fixed;
	top:-100px;
	height: 50px;
	left: 0;
	width:100%;
	background-color: transparent;
	-webkit-transition: top 500ms;
	-moz-transition: top 500ms;
	-ms-transition: top 500ms;
	-o-transition: top 500ms;
	transition: top 500ms;
	text-align: center;
	z-index: 20000000;
}
#alertTop.show{
	top:5px;
}
#alertTop h3{
	position: relative;
	height: 100%;
	line-height: 50px;
	color:white;
	background-color: black;
	border-radius: 5px;
	padding: 0 10px;
	margin:0 auto;
	display: inline-block;
	text-align: center;
	width: auto;
}
.accountCard{
	position: fixed;
	top:0px;
	z-index: 10000000;
	height: 50px;
	right: 100px;
	width: auto;
	min-width: 300px;
	max-width: 400px;
	background-color:black;
	display: block;
	text-align: center;
	-webkit-transition: right 0.5s;
	-moz-transition: right 0.5s;
	-ms-transition: right 0.5s;
	-o-transition: right 0.5s;
	transition: right 0.5s;
}

.accountCard a{
	position: relative;
	width: auto;
	text-align: center;
	height: 100%;
	display: inline-block;
	float: right;
	max-width: 200px;
	min-width: 150px;
	text-overflow: ellipsis;
	overflow-x: hidden;
	word-break: break-all;
	overflow-wrap: break-word;
	margin: 5px 5px;
	text-align: center;
	line-height: 40px;
	font-size:20px;
}
.accountCard a:hover{
	color: gold;
}
@media (max-width:1024px){
	.accountCard {
		right:0;
	}
}
@media (max-width:686px){
	.accountCard {
		max-width: none;
		top: 0;
		height: 50px;
		left: 0;
		right:0 !important;
		position: fixed;
		text-align: left;
	}
	.accountCard a{
		float: left;
		clear: none;
	}
}


.accountCard #newPostBtn{
	width:40px;
	height: 40px;
	min-width:0;
	max-width: none;
	background: transparent url("../images/icons/b-cam.png") no-repeat center center;
	background-size: 100% 100%;
}
.accountCard #notifBtn{
	width:40px;
	height: 40px;
	min-width:0;
	max-width: none;
	background: transparent url("../images/icons/notif.png") no-repeat center center;
	background-size: 100% 100%;
}

.loginSmall{
	position: fixed;
	right: 140px;
	top: 55px;
	width:300px;
	height: 300px;
	background-color: black;
	display: none;
	padding: 2px;
	z-index: 10004;
}
.loginSmall input{
	position: relative;
	display: inline-block;
	width: 70%;
	left: 15%;
	height: 30px;
	font-size: 18px;
	color:black;
	background-color: #cccccc;
	-webkit-transition: background-color 200ms;
	-moz-transition: background-color 200ms;
	-ms-transition: background-color 200ms;
	-o-transition: background-color 200ms;
	transition: background-color 200ms;
	outline: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin:15px 0;
}
.loginSmall input:hover{
	background-color: #ffffff;
}
.loginSmall button{
	background-color: green;
	color:white;
	font-size: 21px;
	text-align: center;
	font-weight: normal;
	position: relative;
	display: inline-block;
	left:10%;
	width: 80%;
	outline: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top:30px;
	-webkit-transition: background-color,color,height 200ms;
	-moz-transition: background-color,color,height 200ms;
	-ms-transition: background-color,color,height 200ms;
	-o-transition: background-color,color,height 200ms;
	transition: background-color,color,height 200ms;
}
.loginSmall button:hover{
	background-color: #4cae4c;
	color:black;
	cursor: pointer;
}

.newPostContainer{
	position: fixed;
	width:100vw;
	height:100vh;
	z-index: 999998;
	background-color: rgba(231, 237, 203,0.93);
	display: none;
}
.newPostContainer .newPostForm{
	position: relative;
	float: left;
	clear: left;
	display: inline-block;
	top: 40%;
	left: 50%;
	width: auto;
	height: auto;
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.newPostContainer .newPostForm select{
	position: relative;
	font-size: 20px;
	width:200px;
	margin:10px 10px;
	display: inline-block;
	float:left;
}
.newPostContainer .newPostForm label{
	position: relative;
	display: inline-block;
	float: left;
	clear: left;
	margin: 10px;
	width: 150px;
	height: auto;
	line-height: 25px;
	background-color: transparent;
	color: black;
	font-size: 21px;
}
.newPostContainer .newPostForm #caption{
	position: relative;
	display: inline-block;
	float: left;
	clear: left;
	margin: 10px;
	width: 270px;
	height: 80px;
	background-color: #f6f6f6;
	color: black;
	font-size: 20px;
	resize: none;
	border-radius: 3px;
	-moz-appearance: textfield-multiline;
	-webkit-appearance: textarea;
	border: 1px solid gray;
	overflow: auto;
	padding: 2px;
	overflow-x:hidden;
	overflow-y: auto;
}
.newPostContainer .newPostForm button{
	height: 40px;
	width:200px;
	position: relative;
	background-color: #4cae4c;
	color: black;
	font-size: 21px;
	font-weight: bold;
	float: left;
	clear: left;
}
.newPostContainer #uploadArea{
	position: relative;
	display: inline-block;
	min-width: 300px;
	width: 50%;
	max-width: 650px;
	height: 300px;
	background-color: white;
	text-align: center;
	float: right;
	clear: right;
	right: 10px;
}
@media (max-width:686px) {
	.newPostContainer #uploadArea {
		float: left;
		right: auto;
		clear:left;
		left:10px;
	}
}
.uploadItem{
	display: none;
	position: fixed;
	z-index: 999999;
	width:300px;
	height: 50px;
	background-color:white;
	left: 200px;
	bottom:100px;
	padding:0;
	margin:0;
}
.uploadItem div{
	position: relative;
	width:1%;
	height: 30px;
	display: inline-block;
	float: left;
	clear: left;
	background-color: #4cae4c;
}
.uploadItem span{
	font-size: 22px;
	color:black;
	font-weight: bold;
	height: 20px;
	margin:0;
	padding:0;
	text-align: center;
	width: 100%;
	position: relative;
	float: left;
	clear: left;
}





.profileTop {
	position: relative;
	top: 50px;
	width: 100%;
	padding: 0 10px;
	text-align: center;
	display: none;
	z-index: 10;
	background-color: #666;
	height: 250px;
}
.profileTop .loader{
	position: absolute;
	width:60px;
	height:60px;
	left:100px;
	top:100px;
	display: block;
	-webkit-transition: height 0.6s;
	-moz-transition: height 0.6s;
	-ms-transition: height 0.6s;
	-o-transition: height 0.6s;
	transition: height 0.6s;
	z-index: 150;
}
.profileTop .loader.hide{
	height: 0;
}
.profileTop .profileTopContainer{
	position: relative;
	height: 220px;
	width: auto;
	top:30px;
	max-width:1600px;
	min-width: 400px;
	margin:0 auto;
}
.profileTop .profPic{
	position: relative;
	left: 10%;
	float: left;
	clear: left;
	top: 0;
	height: 190px;
	width: 190px;
	margin:0 auto;
	display: inline-block;
}
.profileTop .userInfo {
	position: relative;
	float: left;
	margin: 0;
	left:10%;
	padding:2px;
	display: inline-block;
	height: 250px;
	width:auto;
	max-width:300px;
	min-width: 200px;
	top: 35px;
}
.profileTop .profPic .image{
	position: relative;
	left: 0;
	top:0;
	margin:0;
	padding:0;
	height: 100%;
	width:100%;
	display: block;
}
.profileTop .profPic .hexShape{
	background-color:rgba(70,70,70,0.2);
	position:absolute;
	left:0;
	z-index: 100;
	margin-left:0;
	top:0;
	height: 100%;
	width:100%;
	float:left;
	fill:#666;
	clear:left;
	transition: transform,background-color 0.7s;
	-webkit-transition: transform,background-color 0.7s;
	-moz-transition: transform,background-color 0.7s;
	-o-transition: transform,background-color 0.7s;
}
.profileTop .profPic .hexShape:hover{
	background-color: transparent;
}
.profileTop .userInfo {
	position: relative;
	float: left;
	margin: 0;
	left:10%;
	padding:2px;
	display: inline-block;
	height: 250px;
	width:auto;
	max-width:300px;
	min-width: 200px;
	top: 35px;
}
.profileTop .userInfo span,a{
	position: relative;
	display: inline-block;
	width: auto;
	font-size: 19px;
	color: whitesmoke;
	float: left;
	clear: left;
	text-align: left;
	left: 0;
	padding: 1px;
	margin: 0;
	max-width: 250px;
	word-wrap: break-word;
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-ms-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
	line-height: 25px;
}
.profileTop .userInfo a:hover{
	color:#ff0055;
	cursor: pointer;
}
.profileTop .userInfo span.hostFullName{
	font-size:22px;
}

#color-fill .hex {
	fill: #ff0055;
}

.profileTop .profPic .hex:hover {
	fill-opacity: 0.05;
	stroke: #ff0055;
	stroke-width: 8;
}

.profileTop  .profileTopContainer > button{
	position: absolute;
	left: 60%;
	float: right;
	z-index: 20;
	bottom:20px;
	width:100px;
	height: 0;
	opacity: 0;
	background-color:#ff0055;
	color:white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline: 0;
	font-size:17px;
	font-weight: normal;
	-webkit-transition: background-color,opacity,height,right,color,font-weight,border 0.4s;
	-moz-transition: background-color,opacity,height,right,color,font-weight,border 0.4s;
	-ms-transition: background-color,opacity,height,right,color,font-weight,border 0.4s;
	-o-transition: background-color,height,opacity,right,color,font-weight,border 0.4s;
	transition: background-color,height,right,color,opacity,font-weight,border 0.4s;
	display: block;
}
.profileTop > button:hover{
	cursor: pointer;
	background-color: #333;
	color:#ff0055;
	border:1px solid black;
}
.profileTop  .profileTopContainer #follow.show{
	height: 40px;
	display: block;
	opacity: 1;
}
.profileTop  .profileTopContainer #unfollow.show{
	background-color: #777 !important;
	color:black;
	height: 40px;
	display: block;
	opacity: 1;
}
.profileTop .badges{
	left:60%;
	top:60px;
	position: absolute;
	width: auto;
	max-width: 300px;
	height: 70px;
	list-style-type: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	z-index: 500;
}
@media (max-width:686px){
	.profileTop  .badges{
		position: absolute;
		right: 30px;
		left:auto;
		top: auto;
		bottom:-60px;
		width: auto;
		max-width: 300px;
		height: 70px;
		list-style-type: none;
		background-color: transparent;
		margin: 0;
		padding: 0;
		z-index: 500;
	}
	.profileTop {
		position: relative;
		top: 40px;
		width: 100%;
		padding: 10px 0 0 0;
		text-align: center;
		display: none;
		z-index: 10;
		background-color: #666;
		height: 270px;
	}
	.profileTop .profileTopContainer{
		position: relative;
		height: 180px;
		top:30px;
		left:0;
		width:100%;
		margin:0;
	}
	.profileTop .profPic{
		position: relative;
		left: 1%;
		float: left;
		clear: left;
		top: 0;
		height: 170px;
		width: 170px;
		margin:0 0;
		display: inline-block;
	}
	.profileTop .userInfo {
		position: relative;
		float: left;
		margin: 0;
		left:2%;
		padding:2px;
		display: inline-block;
		height: 250px;
		width:auto;
		max-width:300px;
		min-width: 200px;
		top: 35px;
	}
	.profileTop .userInfo span{
		font-size:15px;
	}
	.profileTop .userInfo a{
		font-size:16px;
	}
	.profileTop  .profileTopContainer > button{
		position: absolute;
		left: 20px;
		z-index: 20;
		bottom:-50px;
		width:100px;
		height: 0;
		background-color:#ff0055;
		color:white;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		outline: 0;
		font-size:18px;
		font-weight: normal;
		-webkit-transition: background-color,right,color,font-weight,border 0.5s;
		-moz-transition: background-color,right,color,font-weight,border 0.5s;
		-ms-transition: background-color,right,color,font-weight,border 0.5s;
		-o-transition: background-color,right,color,font-weight,border 0.5s;
		transition: background-color,right,color,font-weight,border 0.5s;
		display: block;
	}
	.profileTop > button:hover{
		cursor: pointer;
		background-color: #333;
		color:#ff0055;
		border:1px solid black;
	}
}



@media (max-width:439px){
	.profileTop .userInfo span{
		font-size:14px;
	}
	.profileTop .userInfo a{
		font-size:14px !important;
		word-break: break-all;
	}
	.profileTop .userInfo span.hostFullName{
		font-size:16px;
	}
	.profileTop .profPic{
		position: relative;
		left: 2px;
		float: left;
		clear: left;
		top: 0;
		height: 140px;
		width: 140px;
		margin:0 0;
		display: inline-block;
	}
	.profileTop .userInfo{
		margin:0;
		left:0;
		top:20px;
	}
	.profileTop {

		height: 250px;
	}
	.profileTop  .profileTopContainer .badges{
		bottom:-40px;
	}
	.profileTop .profileTopContainer > button{
		position: absolute;
		left: 10px;
		bottom:-30px;
	}
}

.profileTop .badges li{
	background-color: transparent;
	position: relative;
	float: left;
	width:60px;
	height: 60px;
	margin:5px 0;
	display: inline-block;
	opacity: 0.85;
	-webkit-transition: opacity,cursor 0.5s;
	-moz-transition: opacity,cursor 0.5s;
	-ms-transition: opacity,cursor 0.5s;
	-o-transition: opacity,cursor 0.5s;
	transition: opacity,cursor 0.5s;
}
.profileTop .badges li:hover{
	cursor: pointer;
	opacity: 1;
}
.profileTop .badges li img{
	position: relative;
	width:100%;
	height: 100%;
	padding:0;
	margin:0;
}
.profileTop .badges li.allBadgesBtn{
	font-size:23px;
	line-height: 60px;
	height: 100%;
	color:white;
}



.profileTopSmall{

}




.homeSliders{
	position: relative;
	margin : 20px auto;
	float: left;
	clear: both;
	display: none;
	background-color: transparent;
	border:1px solid red;
	width:90%;
	min-width:400px;
	padding:5px;
	height: 92vh;
	-webkit-transition: height 0.7s;
	-moz-transition: height 0.7s;
	-ms-transition: height 0.7s;
	-o-transition: height 0.7s;
	transition: height 0.7s;
}

.homeSliders .bigSlider{
	position: relative;
	top:0;
	margin:0 auto;
	padding:0;
	display: inline-block;
	width: 100%;
	max-width: 800px;
	height: auto;
	max-height: 400px;
	border:1px solid white;
	float: left;
	clear: both;
}

.homeSliders .smallSlider{
	position: relative;
	top:0;
	margin:0 auto;
	padding:0;
	display: inline-block;
	width: 48%;
	max-width: 500px;
	height: auto;
	max-height: 400px;
	border:1px solid white;
	float: left;
	clear: both;
}
.settingsContainer{
	position: fixed;
	width:100%;
	left:-105%;
	height: auto;
	top:0;
	padding:5px;
	margin:0;
	z-index:103;
	background-color:#e9e9e9;
}
@media (max-width) {

}
.contactContainer{

}
.policyContainer{

}

.post{
	position:fixed;
	left:+100vw;
	width:100vw;
	background-color:rgba(30,30,30,0.7);
	height: 100vh;
	display: inline-block;
	z-index: 999999;
}
.post .pictureBox{
	position: relative;
	width: 100%;
	left: 0;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.post .pictureBox img {
	position: absolute;
	left: 50%;
	top: 50%;
	width: auto;
	max-width: 1000px;
	max-height: 90%;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.post .pictureBox .leftPic{
	left:-150vw;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	transform: translate(0,-50%);
	max-width: 120%;
	max-height: 95%;
}

.post .pictureBox .middlePic{
	max-width: 105%;
	max-height: 90%;
}

.post .pictureBox .rightPic{
	left: 120vw;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	transform: translate(0,-50%);
	max-width: 120%;
	max-height: 95%;

}

.postFooter{
	width: 100%;
	position: fixed;
	left: 0;
	padding: 2px;
	background-color: #151515;
	display: inline-block;
	text-align: center;
	height: 85px;
	top: 100vh;
	z-index: 1000016;
	margin-top:0;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.postFooter.show{
	margin-top: -90px !important;
}

.postFooter button{
	display: inline-block;
	position: absolute;
	width:50px;
	height: 60px;
	top:10px;
	background-size: 100%;
	background: transparent no-repeat center;
	border-radius: 5px;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
	outline: none;
	border:1px solid #151515;
	box-shadow: 7px 2px 15px 3px #151515;
}
.postFooter button:hover{
	cursor: pointer;
	background-color: black;
	border:1px solid #ff0055;
	box-shadow: 7px 2px 15px 3px #151515;

}
.postFooter button.clicked{
	background-color: #ff0055;
	border:2px solid black;
}
.postFooter button.leftButton{
	left:0;
	opacity:0;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	background-image: url("../images/icons/left.png");

}
.postFooter button.rightButton{
	right: 150px;
	opacity:0;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	background-image: url("../images/icons/right.png");
	z-index: 10000;
}
.postFooter button.rightButton,.postFooter button.leftButton{
    opacity: 1;
    width: 60px;
    top: 0;
    height: 100%;

}
.postFooter button.rightButton.show.loadMore{
	background-image: url("../images/icons/loadmore.png");
}
.postFooter button.rightButton.show.repeat{
	background-image: url("../images/icons/repeate.png");
}
@media (max-width:768px){
	.postFooter button.rightButton{
		right: 10px;
		bottom:10px;
	}
}
.postFooter div{
	position: relative;
	display: inline-block;
	float: left;
	width: auto;
}
.postFooter .ownerProfile{
    display: inline-block;
    height: 100%;
    width: auto;
    max-width: 400px;
    min-width: 250px;
    vertical-align: top;
    margin-left: 60px;
    padding: 8px 5px 5px;
}
.postFooter .ownerProfile:hover{
	color:#ff0055;
	cursor: pointer;
	background-color: #333333;
}
.postFooter .ownerProfile .ownerProfilePicture{
	height: 100%;
}


.clip-svg {
	width: 0;
	height: 0;
}

.postFooter .ownerProfile img,.commentsContainer .commentsList .eachComment img{
    max-width: 100%;
    margin-left: -7px;
    height: auto;
}

.polygon-clip-hexagon {
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	-webkit-clip-path: url("#polygon-clip-hexagon");
	clip-path: url("#polygon-clip-hexagon");
}

.polygon-each-img-wrap{
	width: 58px;
	height: 70px;
	margin: 0;
	float: left;
}
.postFooter .ownerProfile .ownerUsername{
	position: absolute;
	margin: 5px 5px;
	top: 18px;
	left: 65px;
	font-size: 20px;
	line-height: 22px;
	color: white;
	text-align: left;
	word-break: break-all;
	word-wrap: break-word;
	width: auto;
	max-width: 250px;
	height: 100%;

}
.postFooter .caption{
	max-width: 350px;
	min-width: 280px;
	width: auto;
	display: inline-block;
	font-size:19px;
	height: 100%;
}
.postFooter .caption textarea{
	position: absolute;
	display: inline-block;
	background-color: transparent;
	width:100%;
	height: 100%;
	resize: none;
	font-size:17px;
	color:white;
	border:0;
	left: 0;
	top:0;
}
.postFooter .caption .notEditable{
	height: 0;
	border:0;
	opacity: 0;
	outline: none;
	padding:0;
}
.postFooter .caption .notEditable:hover{
	cursor: auto;
	z-index: 1000000;

}
.postFooter .caption .notEditable.show{
	height: 100%;
	z-index: 100;
	opacity: 1;
}
.postFooter .caption .editable{
	height: 0;
	z-index: 99;
	background-color: #3333;
	border:0;
	opacity: 0;
}
.postFooter .caption .editable.show{
	height: 100%;
	outline-color: #ff0055;
	z-index: 102;
	opacity: 1;

}

.postFooter .caption .editSurface{
	position: absolute;
	z-index: 105;
	width:100%;
	height: 0;
	left: 0;
	top: 0;
	padding:0;
	opacity: 0.5;
	color:white;
	background-size: auto auto;
	background: rgba(255, 0, 85, 0.5) url("../images/icons/edit-64.png") no-repeat center center;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.postFooter .caption .editSurface.show{
	opacity: 0.5;
	height: 100%;
}
.postFooter .caption .editSurface.show:hover{
	opacity: 1;
}

.postFooter .caption .cancelCaption,.postFooter .caption .saveCaption{
	position: absolute;
	right: -100px;
	top:40px;
	margin:5px;
	height: 40px;
	width: 42px;
	padding:0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 0;
}
.postFooter .caption .cancelCaption:hover,.postFooter .caption .saveCaption:hover{
	background-color: transparent;
	border:0;
}

.postFooter .caption .cancelCaption.show{
	right: -50px;
	background-image: url("../images/icons/b-cross.png");
	z-index: 10000000000;
}
.postFooter .caption .saveCaption.show{
	background: transparent url("../images/icons/b_cm_42.png") no-repeat center;
	z-index: 10000000000;

}

.postFooter .caption .cancelCaption.show:hover,.postFooter .caption .saveCaption.show:hover{
	background-color:#d9edf7;
	width:43px;
	height: 41px;
}




















.commentsContainer{

}
.commentsContainer .commentsList{

}

/* -->  Main Pages Positions Override to handle Page Changes */




#postsContainer{
	height: 0;
	display: none;
	-webkit-transition: height 0.6s;
	-moz-transition: height 0.6s;
	-ms-transition: height 0.6s;
	-o-transition: height 0.6s;
	transition: height 0.6s;
	padding:0;
	position:absolute;
	width:auto;
	margin:0;
}
#postsContainer.show{
	height: auto;
	display: block;
}
#homeSliders{
	height: 0 !important;
}
#homeSliders.show{
	height:92vh;
}
#settings,#contact,#policy{
	left: -105%;
	-webkit-transition: left 0.5s;
	-moz-transition: left 0.5s;
	-ms-transition: left 0.5s;
	-o-transition: left 0.5s;
	transition: left 0.5s;
}
#settings.show,#contact.show,#policy.show{
	left:0;
}
#newPost{
	top:-100%;
	left:0;
	display: block;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
#newPost.show{
	top:0;
}

#profileTop{
	-webkit-transition: height 0.6s;
	-moz-transition: height  0.6s;
	-ms-transition: height 0.6s;
	-o-transition: height 0.6s;
	transition: height  0.6s;
	position: absolute;
	display: block;
	top:50px;
	height: 0;
	overflow: hidden;

}
#profileTopSettings{
	-webkit-transition: height 0.6s;
	-moz-transition: height  0.6s;
	-ms-transition: height 0.6s;
	-o-transition: height 0.6s;
	transition: height  0.6s;
	position: absolute;
	display: block;
	top:0;
	overflow: hidden;
	padding:0;
	height: 280px;
}

#profileTop.show{
	 position : relative;
	 top:50px;
	 padding:0;
	 left:0;
	 height: 270px;
 }

@media (max-width:686px){
	.profileTop.show {
		height: 270px;
	}
}
@media (max-width:439px){
	.profileTop.show {
		height: 250px;
	}
}


#profileTopSmall{


}
#profileTopSmall.show {
}

#post{
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	left:100vw;
}
#post.show{
	left:0;
}














.ratePad{
	position:fixed;
	z-index: 100000;
	background-color:rgba(20,20,20,0.9);
	width:300px;
	height:300px;
	padding:1px;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%,-50%) rotate(90deg);
	-moz-transform: translate(-50%,-50%) rotate(90deg);
	-ms-transform: translate(-50%,-50%) rotate(90deg);
	-o-transform: translate(-50%,-50%) rotate(90deg);
	transform: translate(-50%,-50%) rotate(90deg);
	display: none;

}


.ratePad > div {
	position:absolute;
	top:50%;
	left:50%;
	width: 100px;
	height: 85px;
	overflow:hidden;
	transform-origin:0 0;
	-ms-transform-origin:0 0;
	-webkit-transform-origin:0 0;
	-ms-transform: skewX(30deg);
	-webkit-transform: skewX(30deg);
	transform: skewX(30deg);
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
.ratePad div .triangle {
	position:absolute;
	top:43px;
	left:-49px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 50px 86px 50px;
	border-color: transparent transparent #999 transparent;
	-webkit-backface-visibility: hidden;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	cursor:pointer;
	font-weight: bold;
	font-size:20px;
	line-height: 200px;
	text-align: center;
	transform-origin:0 0;
	-ms-transform-origin:0 0;
	-webkit-transform-origin:0 0;
	color:white;
	-ms-transform: skewX(-30deg) rotate(-60deg) scale(0.98);
	-webkit-transform: skewX(-30deg) rotate(-60deg) scale(0.98);
	transform: skewX(-30deg) rotate(-60deg) scale(0.98);
	margin: 2px;
}
.ratePad div .triangle:hover {
	border-color: transparent transparent #ff0044 transparent;
	color:#ff0044;
	transform:  skewX(-30deg) rotate(-60deg) translate(0, 10%);
	-webkit-transform:  skewX(-30deg) rotate(-60deg) translate(0, 10%);
	-moz-transform:  skewX(-30deg) rotate(-60deg) translate(0, 10%);
}

.ratePad div .triangle.selected {
	border-color: transparent transparent #ff0044 transparent;
	color:#ff0044;
	transform:  skewX(-30deg) rotate(-60deg) translate(0, 10%);
	-webkit-transform:  skewX(-30deg) rotate(-60deg) translate(0, 10%);
	-moz-transform:  skewX(-30deg) rotate(-60deg) translate(0, 10%);
}

.ratePad.show > div:nth-child(1){
	-ms-transform: skewX(30deg);
	-webkit-transform: skewX(30deg);
	transform: skewX(30deg);
}
.ratePad.show > div:nth-child(2){
	-ms-transform: rotate(60deg) skewX(30deg);
	-webkit-transform: rotate(60deg) skewX(30deg);
	transform: rotate(60deg) skewX(30deg);
}
.ratePad.show > div:nth-child(3){
	-ms-transform: rotate(120deg) skewX(30deg);
	-webkit-transform: rotate(120deg) skewX(30deg);
	transform: rotate(120deg) skewX(30deg);
}
.ratePad.show > div:nth-child(4){
	-ms-transform: rotate(180deg) skewX(30deg);
	-webkit-transform: rotate(180deg) skewX(30deg);
	transform: rotate(180deg) skewX(30deg);
}
.ratePad.show > div:nth-child(5){
	-ms-transform: rotate(240deg) skewX(30deg);
	-webkit-transform: rotate(240deg) skewX(30deg);
	transform: rotate(240deg) skewX(30deg);
}
.ratePad.show > div:nth-child(6){
	-ms-transform: rotate(300deg) skewX(30deg);
	-webkit-transform: rotate(300deg) skewX(30deg);
	transform: rotate(300deg) skewX(30deg);
}












