<!-- 1.View -->
<html>

<head>
	<title>Hexaks</title>
	<script src="../javascripts/jquery.min.js"></script>
	<link rel="stylesheet" href="../stylesheets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div id="homeContainer" class="containerDiv">
<div class="topNav">
	<ul>
		<li class="selected">Latest</li>
		<li>Top</li>
		<li>Curated</li>
	</ul>
</div>
<div class="timeNav">
	<h3>For Last</h3>
	<select>
		<option value="hour"> hour</option>
		<option value="day"> day</option>
		<option value="3 days">  3 days</option>
		<option value="week"> week</option>
		<option value="month"> month</option>
	</select>
</div>
<div class="nav rightSide">
	<img id="logo" src="../images/images/LOGO.png">
	// parse dynamicly for clients - authenticated - and role based
	<ul>
		<li class="selected">Home</li>
		<li>Explore</li>
		<li>Subscriptions</li>
		<li>People</li>
	</ul>
	<a href="/settings">Settings</a>
	<a href="/about" id="about">About</a>
</div>
	<!--<div class="footer">-->
		<!--<a href="/terms">Terms Of Service</a>-->
		<!--<a href="/faq">FAQ</a>-->
		<!--<a href="/contact">Contact</a>-->
  	<!--</div>-->
	<div class="postsContainer">
		<div class="eachPost">
			<div class="header">
				<div class="profilePicture left">
					<img src="../images/images/avatar.png">
				</div>
				<span class="username left">
						Ektik
					</span>
				<div class="curatorContainer right">
					<img src="../images/images/curatew.png">
				</div>
			</div>
			<div class="imgContainer">
				<img src="../images/sliders/slider3/3.jpg"/>
			</div>
			<div class="footer">
				<div class="rate left">
					<img class="left rateBtn" src="../images/icons/b_like_p.png">
					<!-- SVG - Hex for Rate - 1 to 6 Dynamic Percentage fill the background of Hex -->
					<span class="number left"> 5.2</span>
				</div>
				<span class="time right">
						1h
					</span>
			</div>
		</div>
		<div class="eachPost">
			<div class="header">
				<div class="profilePicture left">
					<img src="../images/images/avatar.png">
				</div>
				<span class="username left">
						Ektik
					</span>
				<div class="curatorContainer right">
					<img src="../images/images/curatew.png">
				</div>
			</div>
			<div class="imgContainer">
				<img src="../images/sliders/slider3/3.jpg"/>
			</div>
			<div class="footer">
				<div class="rate left">
					<img class="left rateBtn" src="../images/icons/b_like_p.png">
					<!-- SVG - Hex for Rate - 1 to 6 Dynamic Percentage fill the background of Hex -->
					<span class="number left"> 5.2</span>
				</div>
				<span class="time right">
						1h
					</span>
			</div>
		</div>
		<div class="eachPost">
			<div class="header">
				<div class="profilePicture left">
					<img src="../images/images/avatar.png">
				</div>
				<span class="username left">
						Ektik
					</span>
				<div class="curatorContainer right">
					<img src="../images/images/curatew.png">
				</div>
			</div>
			<div class="imgContainer">
				<img src="../images/sliders/slider3/3.jpg"/>
			</div>
			<div class="footer">
				<div class="rate left">
					<img class="left rateBtn" src="../images/icons/b_like_p.png">
					<!-- SVG - Hex for Rate - 1 to 6 Dynamic Percentage fill the background of Hex -->
					<span class="number left"> 5.2</span>
				</div>
				<span class="time right">
						1h
					</span>
			</div>
		</div>

		<div class="eachPost">
			<div class="header">
				<div class="profilePicture left">
					<img src="../images/images/avatar.png">
				</div>
				<span class="username left">
						Ektik
					</span>
				<div class="curatorContainer right">
					<img src="../images/images/curatew.png">
				</div>
			</div>
			<div class="imgContainer">
				<img src="../images/sliders/slider3/3.jpg"/>
			</div>
			<div class="footer">
				<div class="rate left">
					<img class="left rateBtn" src="../images/icons/b_like_p.png">
					<!-- SVG - Hex for Rate - 1 to 6 Dynamic Percentage fill the background of Hex -->
					<span class="number left"> 5.2</span>
				</div>
				<span class="time right">
						1h
					</span>
			</div>
		</div>
	</div>
</div>
</body>



<script>

	// Global Variables.JS


	// Events.Js

	$(document).ready(function(){

	});
	// TOP NAV
    $("body").on("click",".topNav ul li",function(){
        $(this).parents("ul").children(".selected").removeClass("selected");
        $(this).addClass("selected");


        getPosts();
    });
	$("body").on("click","#logo",function(){
        if (window.innerWidth < 1025) {
            if (this.className === "") {
                if ($(".rightSide")[0]) {
                    $(this).addClass("halfRight");
                    $(".rightSide").addClass("hide");
                }
                else if ($(".leftSide")[0]) {
                    $(this).addClass("halfLeft");
                    $(".leftSide").addClass("hide");
                }
            }
            else if (this.className === "halfLeft") {
                $(this).removeClass("halfLeft");
                $(".leftSide").removeClass("hide");
            }
            else if (this.className === "halfRight") {
                $(this).removeClass("halfRight");
                $(".rightSide").removeClass("hide");
            }
            else {
                //
            }
        }
	});



function requsetHandler(url, method, input, caller) {

	$.ajax({
		url: url || "/",
		method: method || "GET",
		data: input || {},
		before: function () {

		},
		success: function (res) {
			responseActionHandler(caller, url.split("/")[1], res);
		},
		timeout: function () {
			window.alert("time out");// get from developer
		},
		fail: function () {
			window.alert("failed");
		},
		err: function () {
			window.alert("err");
		}
	});
};


// 3.Handlers

// Request handlers

function logout(input) {
	requsetHandler("/logout", "POST", input, "logout");
}

function login(input) {
	requsetHandler("/login", "POST", input, "editModel");
}
function getPosts(){

}




// Actions.js
function responseActionHandler(caller, type, res) {
	switch (caller) {
		case "" :
			parseList(res, type);
			break;
        break;
	}
}


</script>
</html>